<div class="container-weather">
  <h1>Tempo Agora</h1>
  <div class="contents">
    <div class="city-contents">
      <p>{{ city }}</p>
    </div>
    <div class="weather-contents">
      <div class="weather-content">
        <div class="weather">
          <p>{{ weather }}</p>
        </div>
        <div class="img-degrees">
          <img src="../../../assets/degrees.svg" alt="Graus Celsius" />
        </div>
      </div>
      <div class="message">
        <p>{{ message }}</p>
      </div>
    </div>
  </div>
</div>
